* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #ff6600; /* Rangi kuu (machungwa) */
    --secondary: #333333; /* Rangi ya pili (giza) */
    --white-color: #ffffff; /* Rangi ya mweupe */
    --black-color: #000000; /* Rangi ya mweusi */
    --font-size: 16px; /* Ukubwa wa fonti */
    --heading-font-size: 24px; /* Ukubwa wa fonti kwa vichwa */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

header {
    background: var(--primary); /* Kutumia variable ya rangi kuu */
}

.navbar .nav-logo .logo-text {
    color: var(--white-color); /* Rangi ya maandishi ya logo */
}

.navbar .nav-menu .nav-link {
    color: var(--white-color); /* Rangi ya maandishi kwenye viungo */
}
